<!-- <%- include("partials/header") %> -->

<div class="ui main text container">

    <div class="ui huge header">Favorites</div>

<% favorites.forEach(function(favorite) { %>
    
    <div class="ui top attached segment">
   
        <div class="ui small header content">
            Title
        </div>
            <p><%= favorite.title %></p>

        <div class="ui small header content">
            Favorite Added: 
        </div>
            <span id="date"><%= favorite.created.toDateString() %></span>

        <div class="ui small header content">
            Category
        </div>
            <P><%= favorite.category %></P>

        <div class="ui small header content">
            Link:
        </div>
            <p><%= favorite.link %></P>

        <div class="ui small header content">
            Description
        </div>
            <p><%= favorite.description %></p>

        <div class="ui small header content">
            Comment
        </div>
            <p><%- favorite.comments %></p>

        <div id="viewFavorite">
            <a href="/favorites/<%= favorite._id %>" class="ui black basic button">View Favorite</a>
        </div>

    </div>
<% }) %>

</div>
<!-- <%- include("partials/footer") %> -->