<!-- <%- include("partials/header") %> -->

<div class="ui main text container">

    <div class="ui huge header">Search Results</div>

<% data['entries'].forEach(function(list) { %>
    <div id="resultsContainer" class="ui main text container segment">
        <ul id="resultsList">
            <li>
                <form class="ui form" action="/favorites/new" method="POST">
                    <div>

                        <div class="field">
                            <label>Title</label>
                            <input type="text" name="favorite[title]" value="<%= list['API'] %>" placeholder="<%= list['API'] %>" readonly>  
                        </div>

                        <div class="field">
                            <label>Category</label>
                            <input type="text" name="favorite[category]" value="<%= list['Category'] %>" placeholder="<%= list['Category'] %>" readonly>
                        </div>

                        <div class="field">
                            <label>Link</label>
                            <a href="<%= list['Link'] %>" target="_blank"> </a><input type="text" name="favorite[link]" value="<%= list['Link'] %>" placeholder="<%= list['Link'] %>" readonly></a>
                        </div>

                        <div class="field">
                            <label>Description</label> 
                            <input type="text" name="favorite[description]" value="<%= list['Description'] %>" placeholder="<%= list['Description'] %>" readonly>  
                        </div>

                        <input class="ui violet basic button" type="submit" value="Add to Favorites">

                </form>
            </li>
        </ul>
        
    </div> 
</div>
<% }) %> 

<!-- <%- include("partials/footer") %> -->