<div class="ui main text container segment">
    <div class="ui huge header">Add New Favorite</div>

        <form class="ui form" action="/favorites" method="POST">

            <div class="field">
                <label>Title</label>
                <input type="text" name="favorite[title]" value="<%= form.title %>" placeholder="<%= form.title %>" readonly>  
            </div>

            <div class="field">
                <label>Category</label>
                <input type="text" name="favorite[category]" value="<%= form.category %>" placeholder="<%= form.category %>" readonly>
            </div>

            <div class="field">
                <label>Link</label>
                <a href="" target="_blank"> </a><input type="text" name="favorite[link]" value="<%= form.link %>" placeholder="<%= form.link %>" readonly></a>
            </div>

            <div class="field">
                <label>Description</label> 
                <input type="text" name="favorite[description]" value="<%= form.description %>" placeholder="<%= form.description %>" readonly>  
            </div>
                        
            <div class="field">
                <label>Comments</label> 
                <textarea name="favorite[comments]" required>Enter Comment Here</textarea>
            </div>

            <input class="ui violet basic button" type="submit" value="Add to Favorites">

        </form>

    </div> 
</div>